body {
    margin: 0;
  background-color: #0052636e;
  background-size: cover;
  background-attachment: fixed;
  font-family: poppins;
}

// css de HEADER

#header {
  width: 100%;
  height: 80px;
  background-color: #005263;
  display: flex;
  #container {
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    #logo {
      margin: auto;
      cursor: pointer;
      display: flex;
      img {
        align-self: center;
        width: 75px;
      }
    }
  }
}

// fin de css header

// css de login form

#login {
  margin: auto;
  width: 400px;
  height: 750px;
  background-color: #005263;
  border-radius: 35px;
  box-shadow: 10px 5px 100px rgba(255, 255, 255, 1);
  #left {
    display: flex;
    margin-top: 50px;
    justify-content: center;

    img {
      margin-top: 20px;
      margin-bottom: -30px;
      width:60px;
      
      transition: 0.25s;
    }
    img:hover {
      transform: scale(1.1);
    }
  }
  #right {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #text {
      color: white;
      font-size: 30px;
      line-height: 80px;
      font-weight: 100;
    }
    #blanks {
      
      margin-top: -30px;
      #username {
         margin-bottom: 10px;
        input {
          border: none;
          height: 40px;
          width: 240px;
          border-radius: 10px;
          padding-left: 20px;
          padding-right: 20px;
          font-size: 18px;
          font-family: "Poppins", sans-serif;
          transition: 0.5s;
        }
        input:focus {
          outline: none;
          color: white;
          background-color: #1b4a54;
          font-family: "Poppins", sans-serif;
          font-size: 18px;
          box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
        }
        label {
          color: white;
        }
      }
      #email {
        margin-bottom: 10px;
        input {
          border: none;
          height: 40px;
          width: 240px;
          border-radius: 10px;
          padding-left: 20px;
          padding-right: 20px;
          font-size: 18px;
          font-family: "Poppins", sans-serif;
          transition: 0.5s;
        }
        input:focus {
          outline: none;
          color: white;
          background-color: #1b4a54;
          font-family: "Poppins", sans-serif;
          font-size: 18px;
          box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
        }
        label {
          color: white;
        }
      }
      #password {
        margin-bottom: 10px;
        input {
          border: none;
          height: 40px;
          width: 240px;
          border-radius: 10px;
          padding-left: 20px;
          padding-right: 20px;
          font-size: 18px;
          font-family: "Poppins", sans-serif;
          transition: 0.5s;
        }
        input:focus {
          outline: none;
          color: white;
          background-color: #1b4a54;
          font-family: "Poppins", sans-serif;
          font-size: 18px;
          box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
        }
        label {
          color: white;
        }
      }
      #password-2 {
        
        input {
          border: none;
          height: 40px;
          width: 240px;
          border-radius: 10px;
          padding-left: 20px;
          padding-right: 20px;
          font-size: 18px;
          font-family: "Poppins", sans-serif;
          transition: 0.5s;
        }
        input:focus {
          outline: none;
          color: white;
          background-color: #1b4a54;
          font-family: "Poppins", sans-serif;
          font-size: 18px;
          box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
        }
        label {
          color: white;
        }
      }
    }
    #button_login {
      margin-top: 25px;
      button {
        cursor: pointer;
        border-radius: 15px;
        width: 180px;
        height: 50px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 18px;
        border: none;
        color: #005263;
        background-color: white;
        transition: 0.25s;
      }
      button:hover {
         box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
        color: white;
        background-color: #005263;
        border: 1px solid white;
      }
    }
    .radio-buttons{
      text-align: left;
        width: 70%;
        margin-top: 20px;
        
        label{
line-height: 40px;
            color: white;
        }

    }
  }

}

